*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fb;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:240px;
    background:#0f172a;
    color:white;
    padding:25px;
}

.sidebar h2{
    margin-bottom:35px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:14px;
    border-radius:8px;
    margin-bottom:10px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#1e293b;
}

.active{
    background:#2563eb;
}

/* Main */

.content{
    flex:1;
    padding:35px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header p{
    color:gray;
    margin-top:6px;
}

.add-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.add-btn:hover{
    background:#1d4ed8;
}

.search-box{
    margin-top:30px;
}

.search-box input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}
.table-container{
    margin-top:30px;
    overflow-x:auto;
}

.driver-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

.driver-table th{
    background:#2563eb;
    color:white;
    padding:14px;
    font-size:15px;
}

.driver-table td{
    padding:14px;
    text-align:center;
    border-bottom:1px solid #eee;
}

.driver-table tr:hover{
    background:#f8f9ff;
}

.available,
.trip,
.suspended,
.off-duty{

    padding:6px 12px;
    border-radius:20px;
    color:white;
    font-size:13px;
    font-weight:500;
}

.available{
    background:#22c55e;
}

.trip{
    background:#3b82f6;
}

.suspended{
    background:#ef4444;
}

.off-duty{
    background:#6b7280;
}